<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.springboot_swagger2_01.mapper.BuildingsMapper">
  <resultMap id="buildingsMap" type="com.study.springboot_swagger2_01.pojo.Buildings">
    <id property="id" jdbcType="INTEGER" column="id"/>
    <result property="name" jdbcType="VARCHAR" column="name"/>
    <result property="upNumber" jdbcType="INTEGER" column="up_number"/>
    <result property="downNumber" jdbcType="INTEGER" column="down_number"/>
    <result property="floorUnit" jdbcType="VARCHAR" column="floor_unit"/>
    <result property="mark" jdbcType="VARCHAR" column="mark"/>
  </resultMap>
</mapper>
